:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --color1: #AFCBF4;
    --color2: #B6E5F0;
    --color3: #30B0B9;
    --color4: #3C6E71;
    --color5: #284B63;

}

.main-container {
    max-width: 72em; 
    color: var(--black-font);
    margin:0 auto;

}

.banner {
    background-color: var(--color3);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    min-height: 4em;
    padding: 0.5em;
}

.first-container {
    background-color: var(--color1)

}

.second-container {
    background-color: var(--color1)

}