:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --color1: #AFCBF4;
    --color2: #B6E5F0;
    --color3: #30B0B9;
    --color4: #3C6E71;
    --color5: #284B63;

}

.main-container {
    max-width: 72em; 
    color: var(--black-font);
    margin: 0 auto;
    column-gap: 1em;
    margin: right 4em;

}

.banner {
    background-color: var(--color3);
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    min-height: 2em;
    padding: 0.5em;
}

.logo-image1 {
    min-height: 4em;
    align-items: center;
    padding:2em;
}


.first-container {
    background-color: var(--color1);
    padding: 1em;
    
}

.second-container {
    background-color: var(--color1);
    padding: 1em;

}

.image1-container {
    align-items: center;

}

.image2-container {
    align-items: center;

}


.textbox-container {
    background-color: #FFFFFF;
    
}


.monitorpic-container {
    display: flex;
    flex-direction: row;

}

@media (max-width: 50em) {
    .monitorpic-container {
        flex-direction: row;
    }
    

    }


   
.containerB {
    display: flex;
    flex-direction: row;

}

.containers3 {
    display:flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    font-size: 2em;

}



.textbox-container {
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;

}


.monitorpic-container {
    background-color: var(--color1);
    display:flex;
    flex-direction: row;
    border-radius: 2em;
    overflow: hidden;

}

.monitorpic-blurb {
    font-size: 1.5em;
    line-height: 2em;

}

.title2-container {
    text-align: center;
    font-size: 2em;
}


.image3-container {
    align-items: center;

}

.image4-container {
    align-items: center;
    
    }

.sixth-container {
    background-color: var(--color1);
    border-radius: 1.5em;
    text-align: center;
}

.container-6 {
    font-size: 1em;
    line-height: 1em;

}

.container-7 {
    font-size: 1em;
    line-height: 1em;

}

.seventh-container {
    background-color: var(--color1);
    border-radius: 1.5em;
    text-align: center;
}

#banner  {
    grid-area: bann;
}
    
#logo-image1 {
    grid-area: lgi1;
}

#container1 {
    grid-area: con1;
}
     
#container2 {
    grid-area: con2;
}


#container-A {
    grid-area: conA;
}

#image-container1 {
    grid-area:img1

}
#image1 {
    grid-area: img1;
}
    
#image2 {
    grid-area: img2;
}
    
#image3 {
    grid-area: img3;
}
    
#textbox1 {
    grid-area: ttb1;
}
    
#monitor-pic {
    grid-area: mop1;
}
   
#title2 {
    grid-area: ttl2;
}
  

#containerB {
    grid-area:conB;

}
#image5 {
    grid-area: img5;
}
    
#image6 {
    grid-area: img6;
}
    
#image7 {
    grid-area: img7;
}
    
#containers3 {
    grid-area: con3;
}                               
                                    
#containerC {
    grid-area: conC;

} 

#containerD {
    grid-area: conD;

} 

#image8 {
    grid-area: img8;
}
    
#image9 {
    grid-area: img9;
}
    
#image10 {
    grid-area: ig10;
}
    
#image11 {
    grid-area: ig11;
}
    
#container6 {
    grid-area: con6;
}

#container7 {
    grid-area: con7;
}
    
#credits {
    grid-area:cred;
}

    
.main-container {
    display: grid;
    column-gap: 1em; 
}
 

.main-container {
    grid-template: 
        "bann bann bann bann" minmax(2em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "lgi1 lgi1 lgi1 lgi1" minmax(4em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "con1 con1 con1 con1" minmax(2em, auto)
        " .    .    .    .  " minmax(0.5em, auto)
        "con2 con2 con2 con2" minmax(2em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "img1 img1 img1 img1" minmax(6em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "img2 img2 img2 img2" minmax(6em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "img3 img3 img3 img3" minmax(6em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "ttb1 ttb1 ttb1 ttb1" minmax(6em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "mop1 mop1 mop1 mop1" minmax(30em, auto)
        " .    .    .    .  " minmax(2em, auto)
        "ttl2 ttl2 ttl2 ttl2" minmax(3em,auto)
        " .    .    .    .  " minmax(1em, auto)
        "img5 img5 img5 img5" minmax(6em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "img6 img6 img6 img6" minmax(6em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "img7 img7 img7 img7" minmax(6em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "con3 con3 con3 con3" minmax(2em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "con4 con4 con4 con4" minmax(2em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "con5 con5 con5 con5" minmax(2em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "img8 img8 img8 img8" minmax(5em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "img9 img9 img9 img9" minmax(5em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "ig10 ig10 ig10 ig10" minmax(5em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "ig11 ig11 ig11 ig11" minmax(5em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "con6 con6 con6 con6" minmax(10em, auto)
        " .    .    .    .  " minmax(1em, auto)
        "con7 con7 con7 con7" minmax(10em, auto)


}


@media (min-width:50em) {
    .main-container {
    grid-template: 
        "bann bann bann bann bann bann bann bann" minmax(3em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1" minmax(4em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con1 con1 con1 con1 con2 con2 con2 con2" minmax(2em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "img1 img1 img1 img1 img2 img2 img2 img2" minmax(6em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        " .    .  img3 img3 img3 img3   .    .  " minmax(6em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1" minmax(6em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "mop1 mop1 mop1 mop1 mop1 mop1 mop1 mop1" minmax(30em, auto)
        " .    .    .    .    .    .    .    .  " minmax(2em, auto)
        "ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2" minmax(3em,auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "img5 img5  .   img6 img6  .  img7 img7 " minmax(6em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con3 con3 con3 con3 con3 con3 con3 con3" minmax(2em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con4 con4 con4 con4 con4 con4 con4 con4" minmax(2em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con5 con5 con5 con5 con5 con5 con5 con5" minmax(2em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "img8 img8 img8 img8 img9 img9 img9 img9" minmax(5em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "ig10 ig10 ig10 ig10 ig11 ig11 ig11 ig11" minmax(5em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con6 con6 con6 con6 con6 con6 con6 con6" minmax(15em, auto)
        " .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con7 con7 con7 con7 con7 con7 con7 con7" minmax(13em, auto)
    
    
    }
}



@media (min-width:75em) {
    .main-container {
    grid-template: 
        "bann bann bann bann bann bann bann bann bann bann bann bann" minmax(2em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1 lgi1" minmax(4em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con1 con1 con1 con1 con1 con1 con2 con2 con2 con2 con2 con2" minmax(2em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "img1 img1 img1 img1 img2 img2 img2 img2 img3 img3 img3 img3" minmax(6em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1 ttb1" minmax(6em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "mop1 mop1 mop1 mop1 mop1 mop1 mop1 mop1 mop1 mop1 mop1 mop1" minmax(30em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(2em, auto)
        "ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2 ttl2" minmax(3em,auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "img5 img5 img5  .    .img6 img6 img6.    .   img7 img7 img7" minmax(6em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con3 con3 con3 con3 con3 con3 con3 con3 con3 con3 con3 con3" minmax(2em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con4 con4 con4 con4 con4 con4 con4 con4 con4 con4 con4 con4" minmax(2em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con5 con5 con5 con5 con5 con5 con5 con5 con5 con5 con5 con5" minmax(2em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "img8 img8 img8 img9 img9 img9 ig10 ig10 ig10 ig11 ig11 ig11" minmax(5em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con6 con6 con6 con6 con6 con6 con6 con6 con6 con6 con6 con6" minmax(10em, auto)
        " .    .    .    .    .    .    .    .    .    .    .    .  " minmax(1em, auto)
        "con7 con7 con7 con7 con7 con7 con7 con7 con7 con7 con7 con7" minmax(10em, auto)
    
    
    }


}


